@import "../../variables.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menuBtn {
  display: none;
  cursor: pointer;
}

.menuItems {
  display: flex;
  gap: 45px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuItems a:hover {
  color: var(--color-text-secondary);
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuBtn {
    display: block;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    z-index: 3;
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: #484543;
    opacity: 0;
    padding: 24px 34px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 0;
    top: 60px;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: -1;
  }

  .menuOpen {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
  }
}
